.hover-popover {
  background-color: transparent;
  /* box-shadow: none; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 2px;
  margin-top: 2px;
  overflow: hidden;

}

.rectangle-base {
  position: relative;
  margin-top: 10px;
  border-top: 20px solid inherit;
}

.rectangle-base::before {
  background-color: white;
  margin-top: 0px;
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  top: -6px;
  transform: rotate(45deg);
  left: calc(50% - 6px);
}

.content-wrapper {
  /* padding: 10px; */
  background-color: white;
  border-radius: 2px;
}