.appbar {
  background-color: #2874F0;
  height: 56px;
}

.toolbar {
  display: flex;
  padding-left: 0px;
  min-height: 55px;
  position: sticky;
  top: 0;
}

.logo-box {
  display: flex;
  flex-direction: column;
  margin-left: 13%;
  line-height: 0;
  align-self: center;
}

.navbar-icon {
  width: 75px;
  height: 20px;
  justify-self: flex-start;
}

.icon-sublink {
  margin-top: -5%;
}

.icon-sublink:hover {
  text-decoration: underline;
}

.icon-sublink a {
  color: #EEE;
  font-style: italic;
  font-family: Roboto, 'Courier New', Courier, monospace;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.62rem;
  line-height: 0px;
}

.icon-sublink span {
  color: #eeee13;
  font-weight: 600;
}

.icon-sublink span img {
  height: 1em;
  margin-left: -1%;
}

.nav-links {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

.login-button {
  margin-left: 6.5%;
  padding: 0.7% 6%;
  border-radius: 0;
  background-color: white;
  color: #2874F0;
  font-weight: bold;
  text-transform: none;
}