.appbar {
  background-color: #2874F0;
  height: 56px;
  padding-left: 13%;
  padding-right: 5%;
  box-shadow: none;
}

.toolbar {
  display: flex;
  padding-left: 0px;
  min-height: 55px;
  position: sticky;
  top: 0;
}

.logo-box {
  display: flex;
  flex-direction: column;
  /* margin-left: 13%; */
  line-height: 0;
  align-self: center;
}

.navbar-icon {
  width: 75px;
  height: 20px;
  justify-self: flex-start;
}

.icon-sublink {
  margin-top: -5%;
}

.icon-sublink:hover {
  text-decoration: underline;
}

.icon-sublink a {
  color: #EEE;
  font-style: italic;
  font-family: Roboto, Arial, sans-serif;;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.62rem;
  line-height: 0px;
}

.icon-sublink span {
  color: #eeee13;
  font-weight: 600;
}

.icon-sublink span img {
  height: 1em;
  margin-left: -1%;
}

.nav-links {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-basis: 0;
}

.nav-link {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 0.95rem;
  text-transform: none;
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-family: Roboto, Arial, sans-serif;
  padding: 0;
  /* margin: auto; */
  /* margin-left: 40px; */
  letter-spacing: 0.5px;
  text-shadow: -1px -1px 0 #0000ff42, 1px -1px 0 #0000ff42, -1px 1px 0 #0000ff42, 1px 1px 0 #0000ff42;
  box-shadow: none;
}

.nav-link:hover {
  color: white;
  text-decoration: none;
  background-color: transparent;
  box-shadow: none;
}